.pb-chatcol-container {
    top: 90px !important;
}

.pb-chatcolcard-header {
    background-color: #ffff !important;
}

.pb-chatcol-card {
    height:calc(100vh - 140px);
    top: 10px;
}

.pb-chatcol-chatlist{
    overflow-y: auto !important;
}

.pb-searchcard {
    bottom: 0 !important;
    position: sticky !important;
}