.pb-petprofile-p {
    font-size: small;
    align-self: flex-start;
    margin-left: 5px;
}

.pb-pets-ownercard {
    width: -webkit-fill-available;
    align-self: flex-start;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.pb-pets-ownername {
    font-weight: bold;
    align-self: flex-start;
    margin-top: 10px !important;
    margin-left: 5px;
    margin-bottom: 0px !important;
}

.pb-pets-addPostCard {
    margin-top: 20px;
}

.pb-post-profileimg {
    width: inherit;
    max-width: 50px;
    border-radius: 100%;
    padding-right: 0px !important;
}

.pb-post-image {
    width: 100%;
}

.pb-post-profilename {
    align-self: center;
    font-weight: bold;
}

.pb-post-maincard {
    max-width: 450px;
    margin-top: 20px !important;
    margin: 0 auto;
    float: none;
}

.pb-post-commentbtn {
    align-self: center;
    width: -webkit-fill-available;
}

.pb-comment-inputrow {
    width: 100% !important
}

.pb-comment-sendbutton {
    width:inherit;
}

.pb-post-datecol {
    align-self: center;
    font-size: small;
    text-align: right;
}

.pb-post-datecol2 {
    align-self: center;
    font-size: small;
}

.pb-comment-row :hover {
    background-color: #e3e3e3;
}