    $primary-color: #ffff;
    $secondary-color: #0077b6;
    $cleargray-color: #0077b6;

    .session-a {
        border: 1px;
        border-bottom-style: inset;
        color: $secondary-color !important;
    }

    .session-a:hover {
        text-decoration: none;
    }

    .myform {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: none;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: none;
        background-clip: padding-box;
        border: 2px solid;
        border-color: transparent;
        border-radius: 10px;
        outline: 0;
        max-width: 500px;
        margin: auto;
    }

    .tx-tfm {
        text-transform: uppercase;

    }

    .sessionCard {
        top: 40px;
    }

    .mybtn {
        border-radius: 4px !important;
        color: white !important;
        background-color: $secondary-color !important;
        border-color: $primary-color !important;

    }

    .mybtn:hover {
        background-color: $primary-color !important;
        color: $secondary-color !important;
        border-color: black !important;
    }

    #sitesForm {
        padding-bottom: 20px;
    }

    .Camila {

        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Old versions of Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                            supported by Chrome, Edge, Opera and Firefox */
        color: $primary-color;
    }


    .pb-sessioncard-title {
        color: $secondary-color !important;
    }

    .input-label {
        font-weight: bold;
    }

    .form-group .text-center {
        color: gray;
    }

    #mapid {
        height: 180px;
    }

    .leaflet-container {
        overflow: hidden;
        height: 400px;
    }

    .pb-session-titularcont {
        display: flex;
        align-items: center;
    }

    .pb-session-titular {
        align-self: center;
        font-size: 3em;
        color: #0077b6;
    }


    .pb-session-modifymenu {
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .pb-fakeinvalid {
        font-size: 12.8px !important;
        color: red;
    }
    .pb-dropdown-menu {
        overflow-y: auto;
        max-height: 100px;
    }