.pb-friendlist-searchcard {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
}

.pb-friendlist-inputlabel {
    font-weight: bold;
}

.pb-friends-upperbutton {
    padding-inline: 10px;
    margin: 10px;

}

.pb-friends-searchcontainer {
    width:100%;
    align-self: center;
    padding:10px;
}

.pb-friends-ownpetscontainer {
    width:100%;
    align-self: center;
    padding:10px;
}

.pb-friends-friendspetscontainer {
    width:100%;
    align-self: center;
    padding:10px;
}

.pb-friends-resultcontainer {
    margin-top: 50px;
}


.pb-friends-upperCard {
    /*padding: 10px;*/
}

.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

  .img-preview {
    overflow: hidden;
  }

  .pb-friends-petlistimg {
      width: 80px; 
      border-radius: 50%;

  }

  .pb-friends-petlistcont {
      padding:10px;
      border-radius: 5px;
      margin: 0px !important;
      width: 100% !important;
  }

  .pb-friends-petlistcont:hover {
      background-color: #e3e3e3;
  }

  .pb-friends-petlistname {
      font-weight: bold;
  }

  .pb-friends-petlistimgcol {
      padding-left: 0px !important;
      align-items: center;
  }

  .pb-friends-friendlistcont {
    padding:10px;
    border-radius: 5px;
    margin: 0px !important;
    width: 100% !important;
}

.pb-friends-friendlistcont:hover {
    background-color: #e3e3e3;
}

.pb-friends-friendlistcol {
    display: flex;
    justify-content: center;
}

.pb-friends-friendlistbutton {
    height: fit-content;
    width: 100%;
    margin: 5px !important;
}

.pb-userlist-notfound {
    color: darkgrey;
    font-family: 'Lemon', cursive;
}

