body {
  background-color: #ffff;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .pb-navbar-container {
    height: 40px;
    width:100%!important;
    
  }


  .nav-item {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .pb-color {
    color: #7ED5F5;
  }

  .pb-navbar-button {
    background-color: #6c757d;
  }

  #pb-navbar-logo {
    display: block;
    height: 40px;
    width: 40px;
  }

  .pb-leftnavbar-container {
    display: inline-flex;
    margin:5px;
  }

  .pb-dropdownmenu-button {
    /*margin: 5px;*/
    padding: 0px!important;
  }

  .pb-centernavbar-buttonseparator {
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #343A40;
    padding: 5px;
    display: inline-block;
  }

  .dropdown-toggle::after {
    margin-left: 0em!important;
    margin-right: 0.335em;
  }

  .navbar {
    padding: 0em!important;
  }

  .pb-navbar-row {
    width: 100%;
  }

  .pb-dropdown-itemcolumn {
    padding: .15rem;
  }

  .pb-dropdownitem-photo {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    align-self: center;
  }

  .pb-dropdown-item {
    display: flex;
    align-items: center;
    padding: 0;

  }

  .pb-dropdownitem-namecolumn {
    display:grid;
  }

  .pb-dropdowitem-itemcontainer {
    display:flex;
  }

  .pb-dropdown-item-photocolumn {
    align-self: center;
  }

  .pb-petname {
    font-family: 'Fredoka One', cursive;
    color:dodgerblue;
  }

  .pb-logout {
    font-family: 'Fredoka One', cursive;
    color:brown;
  }

  .pb-dropdown-item-logout{
    background: white !important;
  }

  .pb-dropdown-item-logout:hover {
    background: brown !important;
  }

  .pb-dropdown-item-logout:hover > div > div > span {

    color: white !important;

  }

  .public-title {
    font-family: 'Abril Fatface';
    font-size: 4em;
  }

  .pb-dropdownitem-span {
    font-size: small;
    color: #40916c !important;
  }

  #pb-navbar {
    display: block;
  }

  #navbarNavInf {
    display:none!important;
  }

  .pb-navbar-rowinf {
    width:fit-content
  }

  .pb-dropdown-item:hover {
    background-color: gainsboro;
  }

.pb-navbar-row {
  width: 100%;
}

#pb-navbar-flex{
  width:100%;
  margin-left: 20px;
}

.notification-span {
  margin: 2px;
}

.nav-item {
  margin: 5px!important;
}

.pb-maincontent-col {
  overflow-y: auto;
  overflow-x: hidden;
  float:left;
  width:100%;
  height:calc(100vh - 100px);
}

.pb-invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.pb-invisible-scrollbar {
-ms-overflow-style: none;  
scrollbar-width: none; 
}

#bgvid {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}
  
  .pb-navbar-container {
    height: 40px;
    width:100%!important;
    
  }
  
  #pb-navbar-logo {
    display: block;
    height: 40px;
    width: 40px;
  }
  
  .pb-navbar-button {
    background-color: #6c757d;
  }
  
  .pb-navbar-row {
    width: 100%;
  }
  
  #pb-navbar {
    display: block;
  }
  
  .pb-navbar-rowinf {
    width:fit-content
  }
  
  #pb-navbar-flex{
    width:100%;
    margin-left: 20px;
  }

.pb-publiccard {
  background: black;
  opacity: 0.85;
  margin-top: 10%;
  color: #c8c9ca;
  text-align: center;
  padding: 10%;
}


#pb-logo-2 {
  display: none
}

#pb-logo-1 {
  display:flex;
}

#navbarUserContainer {
  display: flex;
}

.leafletMapa {
  margin-top: 40px;
  width: 97%;
}

.siteListContainer {
  margin-top: 20px;
  margin-right: 20px;
}

.icon-rounded {
  border-radius: 50%;
}



/* MEDIA QUERIES */


