.pb-petlist-searchcard {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
}

.pb-petlist-inputlabel {
    font-weight: bold;
}

.pb-pets-upperbutton {
    padding-inline: 10px;
    margin: 10px;

}

.pb-pets-searchcontainer {
    width:100%;
    align-self: center;
    padding:10px;
}

.pb-pets-ownpetscontainer {
    width:100%;
    align-self: center;
    padding:10px;
}

.pb-pets-friendspetscontainer {
    width:100%;
    align-self: center;
    padding:10px;
}

.pb-pets-resultcontainer {
    margin-top: 50px;
}


.pb-pets-upperCard {
    /*padding: 10px;*/
}

.box {
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
}

  .img-preview {
    overflow: hidden;
  }

  .pb-pets-petlistimg {
      width: 100%; 
      max-width: 80px;
      border-radius: 50%;
      margin: 10px;

  }

  .pb-pets-petlistcont {
      padding:10px;
      border-radius: 5px;
      margin: 0px !important;
      width: 100% !important;
  }

  .pb-pets-petlistcont:hover {
      background-color: #e3e3e3;
  }

  .pb-pets-petlistname {
      font-weight: bold;
  }

  .pb-pets-petlistimgcol {
      align-items: center;
      padding: 5px !important;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .listContainer {
      padding-top: 40px;
  }

  .pb-post-image {
      width: 100% !important
  }

