.pb-profilecol {
    align-items: center;
}

.pb-profilecol:hover {
    background-color: #e3e3e3;
}

.pb-profilecol-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    padding: 2%;
}

.pb-profilecol-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px !important;
}

.pb-profilecol-listgroup {
    width: 100%
}

.pb-profilecol-p {
    font-size: small;
}

.pb-profilecol-rightarrow {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.pb-profilecol-pet {
    margin-top: 15px;
}

.pb-profilecol-pet:hover {
    background-color: #e3e3e3;
}

.pb-profilecol-user {
    align-items: center;
}


.pb-profilecol-container{
    top: 90px !important;
}

.pb-petprofile-maincard {
    align-items: center;
}

